<div {{ attributes }}>
    <input
            type="search"
            data-model="query"
            value="{{ query }}"
    >

    <ul>
        {% for product in this.products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
</div>
